arduino-ide/
Arduino\ IDE/
autostart/
chromium/
dconf/
evolution/
falkTX/
gh/
ghb/
GIMP/
glib-2.0/
gpick/
gtk-3.0/
gtk-4.0/
htop/
ibus/
inkscape/
jack/
lftp/
libaccounts-glib/
libfm/
libreoffice/
lutris/
menus/
mpv/
neofetch/
nomacs/
nnn/
octave/
pavucontrol-qt/
procps/
pupgui/
retroarch/
pulse/
stacer/
TeamSpeak/
vlc/
Windscribe/
xarchiver/
yuzu/
gtkrc
gtkrc-2.0
kconf_updaterc
kdeglobals
kprivacyrc
krunnerrc
mimeapps.list
okularrc
okularpartrc
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
window-geometry.conf
