autostart/ 
Cadence/ 
Cemu/ 
Code/ 
dconf/ 
evolution/
falkTX/ 
gcolor3/ 
gedit/ 
GIMP/ 
glib-2.0/ 
gpick/ 
gtk-3.0/ 
htop/ 
ibus/
inkscape/ 
jack/ 
kdeconnect/ 
libfm/ 
libreoffice/ 
lutris/ 
menus/
mimeapps.list 
neofetch/ 
pavucontrol.ini 
pcmanfm/ 
pulse/ 
QtProject.conf 
ristretto/ 
stacer/ 
user-dirs.dirs 
user-dirs.locale 
vlc/ 
window-geometry.conf 
Windscribe/
xarchiver/ 
xfce4/ 
yabridgectl/ 
yuzu/
