autostart/
chromium/
dconf/
evolution/
falkTX/
gh/
GIMP/
glib-2.0/
gpick/
gtk-3.0/
gtk-4.0/
htop/
ibus/
inkscape/
jack/
lftp/
libaccounts-glib/
libfm/
libreoffice/
lutris/
menus/
mpv/
neofetch/
nomacs/
pavucontrol-qt/
pulse/
TeamSpeak/
vlc/
Windscribe/
xarchiver/
yuzu/
gtkrc
gtkrc-2.0
mimeapps.list
okularrc
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
window-geometry.conf
